<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1> Welcome! Choose an option to continue. </h1>
        <p>New user?</p>
        <button type="submit"><a href="{% url 'signup' %}">SignUp</a></button>
        <br>
        <br>
        <p>Already registered?</p>
        <button type="submit"><a href="{% url 'login' %}">LogIn</a></button>
    </body>
</html>